*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* page header */
.main-header {
    color: #051a31;
    padding: 10px;
    font-size: 38px;
    font-weight: bold;
}

.logo{
    vertical-align: middle;
}