* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul,
ol {
	list-style: none;
	padding: 0;
}

body {
    background-color: #f7f8f9;
}

/* PAGE HEADER */
.page-header {
    background-color: white;
    color: #051a31;
    padding: 10px 25px;
    font-size: 38px;
    font-weight: bold;
}

.logo {
    vertical-align: middle;
}

/* MAIN */
main {
    padding-top: 40px;
}

.container {
    background-color: white;
    max-width: 1024px;
    margin: 0 auto;
    border-radius: 5px;
    padding: 15px 45px;
}

/* fake-buttons */
.fake-buttons {
    margin-bottom: 25px;
}

.fbutton-style {
    padding: 6px 8px;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 12px;

}

.blue-fbutton {
    display: inline-block;
    color: white;
    background-color: #46acf2;
    border-style: solid;
    border-width: 1px;
    border-color: #46acf2;

}

.white-fbutton {
    display: inline-block;
    color: #d0d5d8;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: #d0d5d8;
}

/* task list */
.list-title {
    color: #444851;
    font-size: 18px;
    font-weight: bold;

}

.list-item {
    font-size: 16px;
    font-weight: normal;

}

